.blog {
  padding-top: 128px;

  @include mobile {
    padding-top: 60px;
  }

  .blog__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;

    @include mobile {
      gap: 8px;
      margin-bottom: 32px;
    }

    .subtitle {
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 17.6px;
      letter-spacing: 0.15em;

      @include mobile {
        font-size: 11px;
        line-height: 14px;
      }
    }

    .title {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 600;
      line-height: 40px;

      @include mobile {
        font-size: 36px;
        line-height: 43px;
      }

      &.accent-color {
        color: #C01F2F;
      }
    }
  }

  .blog__sort {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    max-width: 228px;
    width: 100%;
    margin-bottom: 32px;

    @media screen and (max-width:580px) {
      width: 100%;
      max-width: 100%;
    }

    &.open {
      .list {
        //display: block;
        z-index: 10;
        transform: translateY(50%) scaleY(1);
      }

      .icon {
        transform: rotate(180deg) !important;
        transition: var(--transition);

      }
    }


    .dropdown {
      width: 100%;
      padding: 20px;
      border: 1px solid #000000;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding: 12px 24px;
      }

      @media screen and (max-width:580px) {
        width: 100%;
        max-width: 100%;
      }

      .caption {

        display: flex;
        align-items: center;
        justify-content: center;

      }

      .icon {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        transform: rotate(0);
        transition: var(--transition);
      }

    }

    .list {
      position: absolute;
      background-color: #F4F4F6;
      width: 100%;
      border-radius: 0 0 3px 3px;
      //display: none;
      top: 50%;
      left: 0;

      transform: translateY(50%) scaleY(0);
      transform-origin: 50% 0%;
      transition: var(--transition);

      .item {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &.selected {
          color: #C01F2F;
        }
      }
    }
  }

  div.dropdown.open>div.caption {
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px #999;
  }


  .news__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .news__cards-item {
      border: 1px solid #D5D5D9;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .news__cards-thumb {
        max-height: 299px;
        img {
          height: 100%;
        }
        @include mobile {
          max-height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      @include hover {
        .news__cards-thumb {
          img {
            scale: 1.02;
            transition: var(--transition);
          }
        }

        .read-more {
          &::before {
            opacity: 1 !important;
            visibility: visible !important;
            transition: all 0.4s linear !important;

            transform: scaleX(1) !important;
          }
        }
      }

      .news__cards-thumb {
        img {
          transition: var(--transition);
        }
      }

      .news__cards-content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .row:last-child {
          margin-top: auto;
        }

        h6 {
          font-family: var(--font-family-secondary);
          //font-size: 12px;
          font-weight: 500;
          line-height: 15.6px;
          color: #868692;
          margin-bottom: 8px;
        }

        h4 {
          font-family: var(--font-family-secondary);
          //font-size: 24px;
          font-weight: 600;
          line-height: 31.2px;
          margin-bottom: 16px;


          @include mobile {
            line-height: 31px;
          }

          @media screen and (max-width:1000px) {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          @include mobile {
            -webkit-line-clamp: 1;
          }
        }

        p {
          font-family: var(--font-family-secondary);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #868692;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          margin-bottom: 24px;

          @include mobile {
            margin-bottom: 9px;
          }
        }

        .read-more {
          font-family: var(--font-family-secondary);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: var(--color-dark);
            left: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transform-origin: 0 50%;
            transform: scaleX(0);
            transition: all 0.3s linear;

          }

        }
      }
    }
  }

  .blog__nav {
    padding-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;

    @include mobile {
      padding-top: 32px;
      margin-bottom: 64px;
      flex-direction: column;
      gap: 32px;
    }

    .show-more {
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 20px 32px;
      border-radius: 100px;
      border: 1px solid #1F1F26
    }
  }
}