:root {
  --color-dark: #1F1F26;
  --color-light: #F4F4F6;
  --color-accent: #C01F2F;
  --color-grey: #3C3C45;

  --active-proj: #4EA846;
  --plan-proj: #C96E3B;
  --finish-proj: #F4F4F6;


  --border-radius: 14px;
  --border-radius-lg: 999px;
  --border-radius-sm: 7px;

  --section-margin: 128px;
  --section-margin-mob: 64px;


  --font-family-base: 'Unbounded', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;


  --container-width: 1392px;
  --container-padding-x: 16px;

  --section-padding-y: 70px;

  --transition: all 0.2s linear;
}