.mobile-nav {
	position: fixed;
	width: 100%;
	overflow-y: scroll;
	//height: 100%;
	height: 100svh;
	background: var(--color-light);
	z-index: 10000;
	padding: 0 20px;
	transform: translateY(-100%);
	transition: var(--transition);

	&.active {
		transition: var(--transition);
		transform: translateY(0);
	}

	.mobile-nav__head {
		padding: 12px 0;
		margin-bottom: 17px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.mobile-menu__item {
		width: 100%;

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;

			li {
				width: 100%;
				padding: 32px 0;
				border-bottom: 1px solid #AAAAB4;


				a {
					font-family: 'Open Sans';
					font-size: 18px;
					font-weight: 600;
					line-height: 24.51px;


					&.active {
						color: var(--color-accent);
					}
				}
			}
		}
	}

	.multilang-inner {

		ul {
			display: flex;
			align-items: center;
			gap: 12px;

			li {
				&:nth-child(2) {
					padding: 0 12px;
					position: relative;

					&::after,
					&::before {
						content: '';
						position: absolute;
						width: 1px;
						height: 11px;
						background: #b4b4b7;
						top: 50%;
						transform: translateY(-50%);
					}

					&::after {
						right: 0;
					}

					&::before {
						left: 0;
					}
				}
			}

			a {
				font-family: var(--font-family-secondary);
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				opacity: .3;

				@include hover {
					opacity: 1;
				}

				&.active-lang {
					opacity: 1;
				}
			}
		}
	}

	.close-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;

		button {
			width: 100%;
			height: 100%;
		}
	}
}