.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);

  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .news__cards-item {
    border: 1px solid #D5D5D9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include hover {
      .news__cards-thumb {
        img {
          scale: 1.02;
          transition: var(--transition);
        }
      }

      .read-more {
        &::before {
          opacity: 1 !important;
          visibility: visible !important;
          transition: all 0.4s linear !important;

          transform: scaleX(1) !important;
        }
      }
    }

    .news__cards-thumb {
      max-height: 299px;
      img {
        height: 100%;
        object-fit: cover;
      }
      @include mobile {
        max-height: 200px;
      }

      img {
        transition: var(--transition);
        width: 100%;

        @include mobile {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .news__cards-content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      height: 100%;

      .row:last-child {
        margin-top: auto;
      }

      h6 {
        text-transform: uppercase;
        font-family: var(--font-family-secondary);
        //font-size: 12px;
        font-weight: 500;
        line-height: 15.6px;
        color: #868692;
        margin-bottom: 8px;
      }

      h4 {
        font-family: var(--font-family-secondary);
        //font-size: 24px;
        font-weight: 600;
        line-height: 31.2px;
        margin-bottom: 16px;

        @media screen and (max-width:1000px) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        @include mobile {
          -webkit-line-clamp: 1;

        }
      }

      p {
        font-family: var(--font-family-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #868692;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 24px;

        @include mobile {
          margin-bottom: 9px;
        }
      }

      .read-more {
        font-family: var(--font-family-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: var(--color-dark);
          left: 0;
          bottom: 0;
          opacity: 0;
          visibility: hidden;
          transform-origin: 0 50%;
          transform: scaleX(0);
          transition: all 0.3s linear;

        }

      }
    }
  }
}