<!-- v1 -->
<div class="sponsor-slider swiper">
  <div class="sponsor-slider__wrapper swiper-wrapper">
    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor01.svg" alt="Slide01">
      <p>World Vision</p>
    </div>

    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor02.svg" alt="Slide01">
      <p>УЦХВЄ</p>
    </div>

    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor03.svg" alt="Slide01">
      <p>Mercy Corps</p>
    </div>

    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor04.svg" alt="Slide01">
      <p>Emmaus iasi</p>
    </div>

    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor05.svg" alt="Slide01">
      <p>Remar</p>
    </div>

    <div class="sponsor-slider__slide swiper-slide">
      <img src="./img/icons/sponsor06.svg" alt="Slide01">
      <p>Mercy Chefs</p>
    </div>

  </div>
</div>


<!-- v2 -->
<div class="about__sponsor-key" style="padding-top: 40px;">
  <div class="sponsor-slider1">
    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor01.svg" alt="Slide01">
      <p>World Vision</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor02.svg" alt="Slide01">
      <p>УЦХВЄ</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor03.svg" alt="Slide01">
      <p>Mercy Corps</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor04.svg" alt="Slide01">
      <p>Emmaus iasi</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor05.svg" alt="Slide01">
      <p>Remar</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor06.svg" alt="Slide01">
      <p>Mercy Chefs</p>
    </div>

  </div>
  <div class="sponsor-slider1">
    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor01.svg" alt="Slide01">
      <p>World Vision</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor02.svg" alt="Slide01">
      <p>УЦХВЄ</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor03.svg" alt="Slide01">
      <p>Mercy Corps</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor04.svg" alt="Slide01">
      <p>Emmaus iasi</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor05.svg" alt="Slide01">
      <p>Remar</p>
    </div>

    <div class="sponsor-slider__slide">
      <img src="./img/icons/sponsor06.svg" alt="Slide01">
      <p>Mercy Chefs</p>
    </div>

  </div>
</div>