
<div class="support-slider">
  <div class="support-slider__slide">
    <img src="./img/support-slide01.jpg" alt="Slide">
  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide02.jpg" alt="Slide">
  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide03.jpg" alt="Slide">
  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide04.jpg" alt="Slide">
  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide05.jpg" alt="Slide">
  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide06.jpg" alt="Slide">

  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide07.jpg" alt="Slide">

  </div>

  <div class="support-slider__slide">
    <img src="./img/support-slide08.jpg" alt="Slide">

  </div>
</div>

